안녕하세요 $username 님.

회원님의 로그인 시도 횟수가 초과되었습니다.
그래서 회원님의 계정의 보호를 위하여 회원님의 계정을 잠금하였습니다.
회원님의 계정의 잠금을 해제하시려면 아래의 링크를 클릭하여 주십시오.
만약 비밀번호가 기억나지 않는다면, 고객센터로 연락하여 주십시오.

그러나 최근에 로그인을 시도하지 않으셨거나 로그인 시도를 초과한 사실이 없으시다면, 만일의 경우를 대비하여 고객센터로 연락하여 주십시오.

$url

일단 계정의 잠금이 풀리면, 기존의 비밀번호로 접속해주시면 됩니다.
